<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmeu.mapper.UserMapper">

	<select id="queryByLoginName" resultType="user" parameterType="user">
		select 
		user_id userId,
		login_name loginName,
		password,
		username,
		sex,
		phone,
		create_time createTime
		from user 
		where login_name=#{loginName}
	</select>

</mapper>