<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.owl.echarts.thymeleaf.mapper.AnalyzeMapper" >
  <select id="selectAll"  resultType="com.owl.echarts.thymeleaf.pojo.Analyze">
    SELECT  *  from `analyze`
  </select>
</mapper>